@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) {
    .banner__titulo {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 1024px) {
    .banner__titulo {
      font-size: 36px;
    }
  
    .banner__pesquisa {
      width: 50%;
    }
  
    .banner__pesquisa::placeholder {
      background-position: 7em;
    }
  }
  @media screen and (min-width: 1728px) {
}
@media screen and (min-width: 1728px) {
    .banner__pesquisa {
      width: 35%;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .banner {
      padding: 5em 0;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .banner__pesquisa::placeholder {
      background-position: 12em;
    }
  }
  