@media screen and (min-width: 1024px) {
    .carrossel__titulo {
      font-size: 26px;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .swiper-pagination {
      margin: 2em 0 3em 0;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .swiper {
      width: 60%;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      top: 60%;
    }
  }
  @media screen and (min-width: 1728px) {
    .carrossel__container {
      display: flex;
    }
  }
  @media screen and (min-width: 1728px) {
    .carrossel__container {
      display: flex;
      width: 50%;
      margin: 0 20vw 3em 20vw;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .descricao__titulo {
      font-size: 32px;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .card {
      margin-left: 3em;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .swiper-pagination {
      margin: 1em 0;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .swiper {
      width: 50%;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .descrição__titulo {
      font-size: 32px;
    }
  
    .descrição__texto {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1728px) {
    /* Código omitido */
  
    .card {
      width: 60%;
      margin-left: 3em;
    }
  }
  