@media screen and (min-width: 1024px) {
    .contato {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .contato__titulo {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .contato__descrição {
      margin-right: 1em;
      width: 30%;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .contato__email {
      width: 30%;
    }
  }
  @media screen and (min-width: 1728px) {
}
@media screen and (min-width: 1728px) {
    .contato {
      padding: 3em 20vw;
    }
  }
  